<footer class="footer">
  <div class="container">
    <div class="box">
      <h3>our branches</h3>
      <a href="https://maps.app.goo.gl/chtq4u13HM6LCShv8" target="_blank">
        <span class="material-icons icon"> chevron_right</span>
        <span>Istanbul</span>
      </a>
      <a href="https://maps.app.goo.gl/FprX6wTtqyebiiCr8" target="_blank">
        <span class="material-icons icon"> chevron_right</span>
        <span>London</span>
      </a>
    </div>
    <div class="box">
      <h3>quick links</h3>
      <a href="#home">
        <span class="material-icons icon"> chevron_right</span>
        <span>home</span>
      </a>
      <a href="#about">
        <span class="material-icons icon"> chevron_right</span>
        <span>about</span>
      </a>
      <a href="/menu">
        <span class="material-icons icon"> chevron_right</span>
        <span>menu</span>
      </a>
      <a href="#review">
        <span class="material-icons icon"> chevron_right</span>
        <span>review</span>
      </a>
    </div>
    <div class="box">
      <h3>contact info</h3>
      <a href="https://www.instagram.com/cacaorouteuk/" target="_blank">
        <span class="material-icons"> public</span>
        <span>instagram</span>
      </a>
      <a href="tel:+01932553246" target="_blank">
        <span class="material-icons"> call</span>
        <span>+01932553246</span>
      </a>
      <a href="mailto:info@cacaoroute.co.uk" target="_blank">
        <span class="material-icons"> mail</span>
        <span>info@cacaoroute.co.uk</span></a
      >
    </div>
    <div class="copyright">© 2024 Cacao Route - Chocolatier</div>
  </div>
</footer>
