---
import type { ChocolateType } from "../../types/menu";
interface Props {
  category: ChocolateType[];
}
const { category } = Astro.props;
---

{
  category && category.length > 0 && (
    <div class="chocolate_category_badges">
      {category.map((item) => (
        <div
          class={`badge ${item.type.toLowerCase()}`}
          data-tooltip={item.type}
        >
          {item.type.at(0)}
        </div>
      ))}
    </div>
  )
}
